/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    /* background-color: #f4f4f9; */

    background-color: #111015;

    /*background:
    radial-gradient(
        circle at top center,
        #1e4d8f 0%,
        #10233d 40%,
        #0d1117 100%
    );*/

    /* background: linear-gradient(
    to bottom,
    #2b2b2b 0%,
    #1a1a1a 30%,
    #10233d 70%,
    #1e4d8f 100%
    ); */

    min-height:100vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    color: white;
    position: relative;
    z-index: 10;
    background: #333;
    font-size: 15px;
    
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z_index:1000;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}


.nav-link{
    display: flex;
    list-style: none;
    gap: 10px;
    transition: transform 0.3s ease-in-out;
}


.nav-link li{
    position: relative;
}


.nav-link a{
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    transition: background 0.3s ease;
    display: block;
}

.nav-link li:hover{
    background: #444;
    border-radius: 4px;

}



.dropdown{
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    background: #444;
    list-style: none;
    padding: 10px 0;
    min-width: 280px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* transform: translateY(20 px); */
    transition: all 0.3s ease;
    pointer-events: none;
    /* visibility: hidden; */
    opacity: 0;
}

.contacto:hover .dropdown{
    opacity: 1;
    transform: translateX(-80%) translateY(0);
    pointer-events: auto;
}

header {
    text-align: center;
    padding: 40px 20px;
    background: #23324a;
    color: white;
    margin-bottom: 30px;
}

.tabs {
    text-align: center;
    margin-bottom: 30px;
}

.tab-btn {
    background: #23324a;
    color: white;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 16px;
}

.tab-btn:hover {
    background: #344966;
}

.tab-btn.active {
    background: #217346;
}

.categoria {
    display: none;
}

.categoria.activa {
    display: block;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

/* .card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}


*/

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 10px;
}


.btn {
    display: inline-block;
    background: #217346;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.btn:hover {
    background: #1b5f38;
}


/* PERFIL */

.perfil{
    display:flex;
    justify-content:center;
    margin:20px auto 40px;
    padding:0 20px;
}

.perfil-contenido{
    max-width:1000px;

    background:rgba(255,255,255,0.05);

    backdrop-filter:blur(8px);

    border:1px solid rgba(255,255,255,0.1);

    border-radius:20px;

    padding:35px;
}

.perfil h2{
    color:#5ea8ff;
    margin-bottom:15px;
}

.perfil h3{
    color:#5ea8ff;
    margin-top:25px;
    margin-bottom:10px;
}

.perfil p{
    line-height:1.8;
    margin-bottom:15px;
}

.perfil ul{
    margin-left:20px;
    line-height:1.8;
}

/* SKILLS */

.skills{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    margin-top:15px;
}

.skills span{
    background:#1d4ed8;
    color:white;

    padding:8px 15px;

    border-radius:30px;

    font-size:0.9rem;
}


.carousel{
	width: 100%;
	overflow-x: auto;
	margin: 3em auto;
	display:flex;
	gap: 1em;
	scroll-behavior: smooth;
	anchor-name: --carousel;
	scroll-snap-type: x mandatory;
	scroll-marker-group: after;

    padding-inline: 80px;
    scroll-padding-inline:80px;
}


.carousel::scroll-marker-group{
	display: flex;
	justify-content: center;
	gap: .5em;

}

.card::scroll-marker {
	content: '';
	height: 1em;
	width: 1em;
	background-color: var(--primary-color);
	border-radius: 50%;
}


.card::scroll-marker:target-current {
	background-color: var(--brand-color);

}


.carousel::-webkit-scrollbar{
	display: none;
}

.carousel::scroll-button(right), .carousel::scroll-button(left){
	content: '→';
	border: none;
	background-color:#23324a; /*var(--brand-color);*/
	font-family: Consolas;
	font-size: 3rem;
	color: white;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	padding-bottom: .1em;
	cursor: pointer;
	position: fixed;
	position-anchor: --carousel;
	position-area: right center;
	translate: -50%;
}


.carousel::scroll-button(left) {
	content: '←';
	position-area: left center;
	translate: 50%;
}


.carousel::scroll-button(right).disabled, .carousel::scroll-button(left).disabled {
	opacity: 0.5;
	cursor: auto;
}


.card{
	scroll-snap-align: start;
	flex: 0 0 20em;
	aspect-ratio: 5 / 3;
	/*background-color: var(--primary-color);*/
    background-color: white;
    color: #23324a;
	padding: 1.5em; /*1em;*/
	border-radius: 12px; /*.5em;*/

    box-shadow: 0 8px 20px rgba(0,0,0,.15);

	text-align: center;
	align-content: center;

    border: 2px solid white;
    /*background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);*/


}

@media(max-width: 500px) {
	.card {
		flex: 0 0 100%;
	}
}

/* SECCION AÑADIDA */
@import url("https://fonts.googleapis.com/css2?family=Monserrat:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:root {
    --primary: #ec994b;
    --white: #ffffff;
    --bg: #f5f5f5;
}


html {
    font-size: 62.5%;
    font-family: "Monserrat", sans-serif;
    scroll-behavior: smooth;
}


@media (min-width: 1440px) {
    html {
        zoom: 1.5;
    }
}

@media (min-width: 2560px) {
    html {
        zoom: 1.7;
    }
}

@media (min-width: 3860px) {
    html {
        zoom: 2.5;
    }
}

::-webkit-scrollbar {
    width: 1.3rem;
}


::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: #797979;
    transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background: #222224
}

::-webkit-scrollbar-track {
    background: #f9f9f9
}

.container{
    max-width: 124rem;
    padding: 0 1rem;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}

.section-heading {
    font-size: 3rem;
    color: var(--primary);
    padding: 2rem 0;
}

#tranding{
    padding: 4rem 0;
}

@media (max-width:1440px){
    #tranding{
        padding: 7rem 0;
    }
}

#tranding .tranding-slider{
    height: 52rem;
    padding: 2rem 0;
    position: relative;
}


@media (max-width:500px) {
    #tranding .tranding-slider {
        height: 45rem;
    }
}

.tranding-slide{
    width: 37rem;
    height: 42rem;
    position: relative;
}

@media (max-width:500px) {
    .tranding-slide{
        width: 28rem !important;
        height: 36rem !important;
    }
    .tranding-slide .tranding-slide-img img {
        width: 28rem !important;
        height: 36rem !important;
    }
}


.tranding-slide .tranding-slide-img img {
    width: 37rem;
    height: 42rem;
    border-radius: 2rem;
    object-fit: cover;
    border: 2px;
}

.tranding-slide .tranding-slide-content{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.tranding-slide-content .food-price{
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: var(--white);
}

.tranding-slide-content .tranding-slide-content-bottom{
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    color: var(--white);
}

.food-rating {
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
}

.rating ion-icon{
    color: var(--primary);
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right{
    display: none;
}

.tranding-slider-control{
    position: relative;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tranding-slider-control .swiper-button-next{
left: 58% !important;
transform: translateX(-58%) !important;
}

@media (max-width:990px) {
    .tranding-slider-control .swiper-button-next{
    left: 70% !important;
    transform: translateX(-70%) !important;
}
}

@media (max-width:450px) {
    .tranding-slider-control .swiper-button-next{
    left: 80% !important;
    transform: translateX(-80%) !important;
}
}

@media (max-width:990px) {
    .tranding-slider-control .swiper-button-prev{
    left: 30% !important;
    transform: translateX(-30%) !important;
}
}

@media (max-width:450px) {
    .tranding-slider-control .swiper-button-prev{
    left: 20% !important;
    transform: translateX(-20%) !important;
}
}

.tranding-slider-control .slider-arrow {
    background: var(--white); 
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    left: 42%;
    transform: translateX(-42%);
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .slider-arrow ion-icon{
    font-size: 2rem;
    color: #222224;
}

.tranding-slider-control .slider-arrow::after {
    content: '';
}

.tranding-slider-control .swiper-pagination{
    position: relative;
    width: 15rem;
    bottom: 1rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet{
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active{
    background: var(--primary);
}

.seccion{
    min-height: 100vh;
    padding: 100px 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    scroll-margin-top:80px;
}

.inicio{
    background: 
    linear-gradient(
        rgba(0,0,0,.6),
        rgba(0,0,0,.6)
    ),
    url("../im/backgrounds/bg_inicio.jpg");

    background-size: cover;
    background-position: center;
    color: white;
}

.acerca{
    background: #111827;
    color: white;
}

.habilidades{
    background: #1e293b;
    color: white;
}

.experiencia{
    background: #0f172a;
    color: white;
}

.portafolio{
    background:#020617;
    color:white;
}

.contacto{
    background:#1d4ed8;
    color:white;
}

.contact-container{
    display:flex;
    gap:50px;
    justify-content:space-between;
    flex-wrap:wrap;
}

.contact-info{
    flex:1;
    min-width:250px;
}

.contact-info h3{
    margin-bottom:20px;
}

.contact-info p{
    margin:15px 0;
    font-size:18px;
}

.contact-info a{
    color:#333;
    text-decoration:none;
}

.contact-form{
    flex:1;
    min-width:320px;
}

.contact-form form{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.contact-form input,
.contact-form textarea{

    width:100%;
    padding:15px;

    border:1px solid #ccc;
    border-radius:8px;

    font-size:16px;
}

.contact-form textarea{
    resize:vertical;
}

.contact-form button{

    background:#1f6feb;
    color:white;

    border:none;
    padding:15px;

    border-radius:8px;
    cursor:pointer;

    font-size:16px;
    transition:.3s;
}

.contact-form button:hover{

    background:#1558b0;
}

html{
    scroll-behavior:smooth;
}

/*==================================================
                EXPERIENCIA
===================================================*/

.experiencia{

    background:#101114;
    padding:90px 10%;
    color:#fff;

}

.experiencia h2{

    text-align:center;
    font-size:2.3rem;
    margin-bottom:60px;

}

.experience-container{

    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:35px;

}

.experience-column{

    display:flex;
    flex-direction:column;
    gap:30px;

}

.experience-card{

    background:#1b1c22;
    padding:28px;
    border-radius:10px;

    box-shadow:0 12px 30px rgba(0,0,0,.35);

    transition:.35s;

    border-left:4px solid #00d6b8;

}

.experience-card:hover{

    transform:translateY(-8px);

    box-shadow:0 20px 45px rgba(0,0,0,.45);

}

.experience-card h3{

    font-size:22px;
    margin-bottom:6px;

}

.experience-card h3 span{

    display:block;

    margin-top:6px;

    color:#00d6b8;

    font-size:17px;

    font-weight:600;

}

.experience-card small{

    display:block;

    margin:18px 0;

    color:#00d6b8;

    font-size:14px;

    font-weight:bold;

}

.experience-card ul{

    padding-left:18px;

}

.experience-card li{

    color:#d5d5d5;

    margin-bottom:10px;

    line-height:1.6;

}

/*=========================
      HERRAMIENTAS
=========================*/

.experience-tools{

    margin-top:22px;

}

.experience-tools strong{

    display:block;

    margin-bottom:12px;

    color:#ffffff;

    font-size:15px;

}

.experience-tools span{

    display:inline-block;

    margin:4px;

    padding:7px 14px;

    background:#00d6b8;

    color:#111;

    border-radius:30px;

    font-size:13px;

    font-weight:600;

    transition:.25s;

}

.experience-tools span:hover{

    background:#00b89f;

    transform:scale(1.05);

}

/*=========================
      RESPONSIVE
=========================*/

@media (max-width:900px){

.experience-container{

    grid-template-columns:1fr;

}

.experiencia{

    padding:70px 7%;

}

}


/*=============================
        SKILLS
=============================*/

.habilidades{

    background:#101114;
    color:#fff;
    padding:90px 10%;

}

.habilidades h2{

    text-align:center;
    font-size:2.3rem;
    margin-bottom:60px;

}

.skills-container{

    display:grid;
    grid-template-columns:1.2fr 1fr;
    gap:70px;

}

/*-------------------------*/

.technical-skills h3,
.professional-skills h3{

    text-align:center;
    margin-bottom:40px;
    font-size:2rem;

}

/*-------------------------*/

.skill{

    margin-bottom:22px;

}

.skill-info{

    display:flex;
    justify-content:space-between;
    margin-bottom:8px;
    font-size:15px;

}

.progress{

    height:8px;
    background:#444;
    border-radius:30px;
    overflow:hidden;

}

.progress-bar{

    height:100%;
    background:#00d6b8;

}

/*-------------------------*/

.circle-container{

    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:35px;

}

.circle-card{

    text-align:center;

}

.circle{

    --percent:80;

    width:120px;
    height:120px;

    margin:auto;

    border-radius:50%;

    background:
    conic-gradient(
        #00d6b8 calc(var(--percent)*1%),
        #444 0
    );

    display:flex;
    justify-content:center;
    align-items:center;

    position:relative;

}

.circle::before{

    content:"";

    position:absolute;

    width:90px;
    height:90px;

    background:#101114;

    border-radius:50%;

}

.circle span{

    position:relative;

    z-index:2;

    font-weight:bold;

    font-size:22px;

}

.circle-card p{

    margin-top:15px;

    font-size:15px;

}

/*-------------------------*/

@media(max-width:900px){

.skills-container{

    grid-template-columns:1fr;

}

.circle-container{

    grid-template-columns:repeat(2,1fr);

}

}
